.modal__container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.modal__contain {
  padding: 1rem;
  width: 30rem;
  height: 15rem;
  background: #fff;
  border-radius: 2rem;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__formulaire {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.modal__close {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: red;
  cursor: pointer;
}
