<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    <body>
      <h1>Hello word</h1>
        {% block content%}
        {% endblock %}
  
    </body>
</html>
